html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header {
  height: 50px;
  width: 100%;
  background-color: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 96px;
  height: 20px;
  display: inline-block;
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chart {
  width: 250px;
  height: 250px;
  margin: auto;
}

.price-container {
  width: 300px;
  height: 320px;
  margin-top: 50px;
  padding-top: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px 3px #888888;
}

.price {
  font-size: 48px;
  font-family: 'Economica', sans-serif;
  background: -webkit-linear-gradient(#fa709a, #fee140);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filter-form-container {
  width: 300px;
  height: 300px;
  margin-left: 50px;
}
.filter-price {
  margin: auto;
}

.filter-price div {
  display: flex;
  flex-direction: column;
}

label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

select {
  /* background: transparent; */

  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 240px;
  border: 0;
  padding-left: 5px;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  background-color: #41a0db;
  color: white;
  overflow: hidden;
  box-shadow: 1px 1px 3px 1px #505050;
  -moz-appearance: window;
  -webkit-appearance: none;
  margin-bottom: 30px;
  font-family: sans-serif;
  cursor: pointer;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  color: black;
}
